<nav>
  <a routerLink="">DisplayHelloWorld</a>  |
  <a routerLink="showhellobutton">Showhellobutton</a> |
  <a routerLink="displayname">DisplayName</a> |
  <a routerLink="counter">Counter</a> |
  <a routerLink="simpleform">SimpleForm</a> |
  <a routerLink="userage">UserAge</a> |
  <a routerLink="usergreeting">UserGreeting</a> |
  <a routerLink="calculator">Calculator</a> |
  <a routerLink="textlength">Textlength</a> |
  <a routerLink="currencyconverter">CurrencyConverter</a> |
  <a routerLink="evenoddchecker">EvenOddchecker</a> |
  <a routerLink="wordreverser">WordReverser</a> |
  <a routerLink="showdate">ShowDate</a> |
  <a routerLink="showusername">Showusername</a> |
  <a routerLink="multiplicationtable">Multiplicationtable</a> |
  <a routerLink="simplelogin">Simplelogin</a> |
  <a routerLink="fahrenheittocelsius">Fahrenheittocelsius</a> |
  <a routerLink="bookmarklist">Bookmarklist</a> |
  <a routerLink="charactercounter">CharactercounterComponent</a> |
  <a routerLink="palindromechecker">Palindromechecker</a> |
  <a routerLink="temperatureconverter">Temperatureconverter</a> |
  <a routerLink="shoppinglist">Shoppinglist</a> |
  <a routerLink="factorialcalculator">Factorialcalculator</a> |
  <a routerLink="guessnumbergame">Guessnumbergame</a> |
  <a routerLink="wordcounter">Wordcounter</a> |
  <a routerLink="randomnumbergenerator">Randomnumbergenerator</a> |
  <a routerLink="multiplicationchecker">Multiplicationchecker</a> |
  <a routerLink="uppercaseconverter">Uppercaseconverter</a> |
  <a routerLink="wordshuffler">Wordshuffler</a> |








</nav>


<router-outlet></router-outlet>
